// home

// .home,
.hero{
  @include rem(margin, 0, 2);
  @include legacy-pie-clearfix;
  display: table;
  table-layout: fixed;

  height: 75vh;

  p{
    @extend %body-text;
    @include rem(margin-top, 1);
    color: #666666;
  }
  @media screen and (min-width: $mobile){
    margin: auto;
  }
}
#homeCanvas{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.hero__content{
  display: table-cell;
  vertical-align: middle;

  p{
    @media screen and (min-width: $mobile){
      text-align: center
    }
  }

  .section__title{
    font-weight: 600;
    @include font-size(4.8);
    @media screen and (min-width: $mobile){
      @include font-size(6.4);
    }
  } 
}




// class_name background_color has_background_image?
$works: magnetic-asia #D6272D true, 
        etechevent $black true,
        cigna #50af45 true,
        kitesystems #F05623 false,
        ticketflap #E5E6E2 false,
        yourmum $black true,
        payou #39A965 true,
        clockenflap $black true,
        wellesley #0D082A true,
        central-health-child-development-team #FFFFFF true,
        propellar #FFFFFF true;

@each $work in $works{
  $name:   nth($work, 1);
  $color:  nth($work, 2);
  $bg-img: nth($work, 3);
  .#{$name}{
    // @include background-size(cover);
    background-color: $color;
    // @if $bg-img == true{
      // background-image: image_url('home/#{$name}.jpg');
    // }
  } 
}

.work__background--small{
  @include transition(.25s);
  @include background-size(cover);
  position: absolute;
  top: 0;
  z-index: 1;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}



.work{
  text-align: center;
  position: relative;
  height: 300px;
  display: table;
  width: 100%;
  overflow: hidden;
  display: block;

  &:hover,
  &:focus{
    .work__background--small{
      @include transform(scale(1.1));
    }

    .logo{
      @include transform(scale(.9));
    }
  }
  // @media screen and (min-width: 600px){
  //   float: left;
  //   width: 33.3%;
  // }
  @media screen and (min-width: 1024px){
    float: left;
    width: 33.33%;
  }
  //   width: 25%;
  // }
}

.award{
  position: absolute;
  right: 0;
  top: 10px;
  width: 90px;
  height: 135px;
  z-index: 5;
}

.nominee{
  background-image: image_url('awwwards_nominee.png');
  background-size: 90px 135px;
  @media only screen 
  and (-Webkit-min-device-pixel-ratio: 1.5), only screen 
  and (-moz-min-device-pixel-ratio: 1.5), only screen 
  and (-o-min-device-pixel-ratio: 3/2), only screen 
  and (min-device-pixel-ratio: 1.5) {
    background-image: image_url('awwwards_nominee@2x.png');
  }
}

.work___title{
  font-family: $sans;
  display: table-cell;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  font-size: 60px;
}


.work__image{
  display: table;
  text-align: center;
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.nomineed{
  &:before{
    content: '';

  }
}

.logo{
  display: table-cell;
  @include transition(1.5s);
  vertical-align: middle;
  margin: auto;
  -webkit-backface-visibility: hidden;
  img{
    @include rem(max-width, 20);
  }
}

.ticketflap{
  .logo{
    margin-top: 30px;
  }
}



// Quote
.quote{
  @include rem(padding, 3);
  @include legacy-pie-clearfix;
  text-align: left;
}

.quote__label{
  font-family: $sans;
  color: #AAAAAA;
  @include font-size(1.2);
  font-style: normal;
  @include rem(margin-bottom, 1);
}

.quote__logo{
  float: left;
  max-width: 180px;
  background: #eeeeee;
}

.quote__text{
  @extend %body-text;
  // width: calc(100% - 210px);
  float: right;
  @include rem(margin-left, 2);
}

.quote__from{
  @include rem(margin-top, 1.5);
  @include font-size(1.4);
  font-style: normal;
  display: block;
}





