// header
.site__header{
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  @include rem(padding, 0, 3);
  
  .site__nav{
    margin: 0;
    position: relative;
    // display: inline-block;
  }
}

.site__nav{
  @extend %clean-list-style;
  @include legacy-pie-clearfix;
  // text-align: center;
  float: right;

  li{
    display: inline-block;
    text-transform: uppercase;
    font-weight:600;
    vertical-align: top;
  }
}

// .site-name{
//   font-weight: 300;
//   float: left;
//   text-transform: capitalize;
// }

.headroom--not-top {
  .nav__link{
    @include font-size(1.4);
    @include rem(padding, 2, 1);
  }
}


.site__tagline{
  display: block;
  font-weight: normal;
  @include font-size(1.2);
}

.nav__link{
  @include transition(.25s);
  @extend %clean-link-style;
  @include font-size(1.6);
  color: $black;
  display: block;
  position: relative;
  @include rem(padding, 2);

  @media (min-width: 680px){
    @include rem(padding, 4, 2);
    @include font-size(1.6);
  }

  span{
    display: inline-block;
    position: relative;

    &:before{
      @include transition(.25s);
      content: '';
      position: absolute;
      bottom: -4px;
      width: 0;
      height: 1px;
      background: rgba(0,0,0,.8);
    }

  }


  &:hover,
  &:focus{
    span:before{
      width: 100%;
    }
  }

  &.active{
    text-decoration: line-through;
  }
}

//footer
.site__footer{
  @include font-size(1.2);
  text-align: center;
  @include rem(padding, 5, 0);
}


