$works: magnetic-asia #D6272D true, 
        etechevent #00BDF5 true,
        cigna #FFFFFF true,
        kitesystems #F05623 true,
        ticketflap #E5E6E2 true,
        yourmum #EC6EA5 true,
        payou #4BD83E true,
        clockenflap #19E0FC true,
        wellesley #0D082A true,
        central-health-child-development-team #FFFFFF true;

@each $work in $works{
  $name:   nth($work, 1);
  $color:  nth($work, 2);
  $bg-img: nth($work, 3);
  .#{$name} .work__background{
    @include background-size(cover);
    background-color: $color;
    @if $bg-img == true{
      background-image: image_url('home/#{$name}.jpg');
    }
  } 
}

.work__background{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  @include opacity(.2);
  @include filter(blur(4px));
  background-position: 0 0;
}

.work__detail{
  @media screen and (min-width: $mobile){
    @include rem(padding, 5, 0, 3);
  }
  min-height: 100%;
}

.work__header{
a{
    display: inline-block;
    @include rem(padding, 3, 0);
    text-decoration: none;
    color: rgba($white, .6);
  }
}

.work__logo{
  max-width: 200px;
  display: block;
}

.works{
  padding-top: 0;

  .site__header{
    display: none;
  }
}

.work__content{
  @extend %container;
  @include legacy-pie-clearfix;
  margin: auto;
  position: relative;
}


.work__summary{
  @include rem(padding-bottom, 2);
  @media screen and (min-width: $mobile){
    @include rem(width, 30);
    position: fixed;
    left: 50px;
  }
}

.work__photos{
  @media screen and (min-width: $mobile){
    width: calc(100% - 330px);
    float: right;
    @include rem(margin-right, 2);
  }
  img{
    @include border-radius(3px);
    @include rem(margin-bottom, 3);
    overflow: hidden;
    display: block;
  }
  .lazy{
    display: none;
  }
}

.work__site{
  position: relative;
  color: $white;
  display: inline-block;
  text-decoration: underline;
  @include rem(margin-top,1.5);
  &:after{
    content: '';
    position: absolute;
    width: 15px;  
    height: 15px;
    right: -15px;
    top: 0;
    background: image_url('assets/external.png') no-repeat center center;
  }
}

.work__desc{
  line-height: 1.5;
  font-family: Helvetica, Arial, sans-serif;
  @include rem(margin-top,3);
  @media screen and (min-width: $mobile){
    text-align: left;
    @include rem(max-width, 25);
  }
  @include font-size(1.4);
  color: rgba($white, .9);
  font-weight: 100;
}

.work__pre,
.work__next{
  width: 50%;
  color: $white;
  float: left;
  padding: 10px;
}