---

---

<section class="resume__container">

  <h2 class="section__title">EXPERIENCE</h2>


  <h2 class="section__title">SKILL SET</h2>

  <h2 class="section__title">LANGUAGE</h2>

  <h2 class="section__title">AWARDS</h2>

  <a class="btn">DOWNLOAD PDF</a>

</section>